.layout {
  display: grid;
  grid-template:
    "header header"
    "main main" 1fr
    "footer footer";
  grid-template-columns: 1fr;
  min-height: 100vh;
}

main {
  grid-area: main;
  width: 100%;
}
